=toolbar do
  =tool("Poser une nouvelle question", new_question_url)

-paginator = will_paginate(@questions)
=paginator
.items
  =render :partial => @questions, :spacer_template => "shared/spacer"
=paginator
