.toolbar
  =link_to("Poser une nouvelle question", new_question_url)

-paginator = will_paginate(@questions)
=paginator
-for question in @questions
  =render :partial => "questions/question", :object => question
=paginator
