%h2
  =logo_tag(avatar_url(@question.author, :size => 96))
  =beautify(@question.name)
-unless @question.content.blank?
  .question.content=beautify(@question.content)
.info
  %span=@question.author.full_name
  %span a posé cette question il y a
  %span=distance_of_time_in_words_to_now(@question.created_at)+"."
=labels_for(@question)
.toolbar
  -if @question.author == current_user
    -if @question.answers.count.zero? and @question.comments.count.zero?
      =link_to("Modifier", edit_question_url(@question))
      =link_to("Supprimer", question_url(@question), :method => :delete, :confirm => 'labels.are_you_sure'.t)
  =link_to("labels.answer_to_question".t(:count => @question.answers.count), new_question_answer_url(@question))
  -if @question.comments.count.zero?
    =link_to("Commenter la question", new_question_comment_url(@question))

=comments_of(@question) do
  -unless @question.comments.count.zero?
    .toolbar
      =link_to("Commenter la question", new_question_comment_url(@question))

-if @question.answers.count > 0
  %h3="labels.x_answers".t(:count => @question.answers.count)
  .items=render :partial => "questions/answer", :collection => @question.answers, :spacer_template => "shared/spacer"

.end
