.items

  .item.partition
    .logo
    %h3.title=link_to(action_title(:action => :partition), partition_url)
    .description
      Cet outil permet de répartir votre capital social en nombres entiers de parts sociales.
    .end

  .spacer

  .item.farming
    .logo
    %h3.title Calcul de fermages
    .description
      À venir...
    .end

  .spacer

  .item.templating
    .logo
    %h3.title Générateur d'actes
    .description
      À venir... mais pas tout de suite
    .end
