=form_tag({}, :method => :get, :class => "form-inline parameters") do
  %label Montant du capital social
  %span.input-append
    =text_field_tag(:amount, params[:amount], :size=>12, :maxlength => 12) 
    =button_tag("Calculer", :type => :submit, :class => "btn")

-if @partitions
  %h3="Nombres de parts possibles pour un montant de #{@amount.l(:currency => 'EUR')}"
  %table#partitions
    -for partition in @partitions
      %tr
        %td.number=partition[0]
        %td.middle="labels.parts_of_amount".t(:count=>partition[0])
        %td.amount=partition[1].l(:currency => 'EUR')
