.item.publication
  =logo_tag(publication.logo.url(:thumb), :alt => publication.name)
  %h3.title=link_to(beautify(publication.name), publication_url(publication))
  =labels_of(publication)
  .meta-info
    %span Déposée par
    =link_to(publication.author.full_name, publication.author, :class => "author")
    =on(publication.created_at)
    %span="(#{'labels.x_comments'.t(:count=>publication.comments.count)})"
  .end
