.toolbar
  =link_to("Déposer une nouvelle publication", new_publication_url)

-paginator = will_paginate(@publication)
=paginator
-for publication in @publications
  =render :partial => "publications/publication", :object => publication
=paginator
