.toolbar
  =link_to("Déposer une nouvelle publication", new_publication_url)

-paginator = will_paginate(@publications)
=paginator
.items=render :partial => @publications, :spacer_template => "shared/spacer"
=paginator
