.info
  %span=@publication.author.full_name
  %span a déposé la publication suivante il y a
  %span=distance_of_time_in_words_to_now(@publication.created_at)
  %span &nbsp;:
%h1=@publication.name
.content=@publication.description
=link_to(publication_url(@publication, :format => :pdf), :class=>"download") do
  Télécharger
  %em 
    &laquo; 
    =@publication.name
    &raquo;

.toolbar
  -if @publication.author == current_user
    -if @publication.comments.count.zero?
      =link_to("Modifier", edit_publication_url(@publication))
      =link_to("Supprimer", publication_url(@publication), :method => :delete, :confirm => 'labels.are_you_sure'.t)
  =link_to("Commenter", new_publication_comment_url(@publication))
