%h2=@user.full_name

%h3="labels.x_questions".t(:count => @user.questions.count)
%h3="labels.x_answers".t(:count => @user.answers.count)
%h3="labels.x_comments".t(:count => @user.comments.count)
%h3="labels.x_publications".t(:count => @user.publications.count)
