%h2
  =logo_tag(avatar_url(@user, :size => 96))
  =@user.full_name
%h3=@user.post
%table.infos
  -for info in [:address, :phone, :public_email, :skills]
    - unless @user.send(info).blank?
      %tr
        %td.label=User.human_attribute_name(info)
        %td.value=beautify(@user.send(info))
   

-if @user == current_user or current_user.administrator
  .toolbar
    =link_to("Mettre à jour ses informations", edit_user_url(@user))




%h3="labels.x_questions".t(:count => @user.questions.count)
%h3="labels.x_answers".t(:count => @user.answers.count)
%h3="labels.x_comments".t(:count => @user.comments.count)
%h3="labels.x_publications".t(:count => @user.publications.count)
