%h2
  =logo_tag(avatar_url(@user, :size => 96))
  =@user.full_name
%h3=@user.post
-for.meta-info in [:address, :phone, :public_email, :skills]
  - unless @user.send.meta-info).blank?
    %dl.dl-horizontal
      %dt=User.human_attribute_name.meta-info)
      %dd=beautify(@user.send.meta-info))
   
-if @user == current_user or current_user.administrator
  =toolbar do
    =tool("Mettre à jour ses.meta-informations", edit_user_url(@user), :icon => :edit)
    -if current_user.administrator?
      =tool("Changer de mot de passe", edit_user_url(@user, :mode => :password), :icon => :lock)

%h3="labels.x_questions".t(:count => @user.questions.count)
%h3="labels.x_answers".t(:count => @user.answers.count)
%h3="labels.x_comments".t(:count => @user.comments.count)
%h3="labels.x_publications".t(:count => @user.publications.count)
