=form_tag(search_url, :method => :get, :class => "form-search") do
  .input-append
    =text_field_tag("q", params[:q], :placeholder => "Rechercher...", :class => "search-query", :style => "width: auto")
    %button.btn{:type => "submit"}
      %i.icon-search
