%h2 Dernières questions
-for question in Question.lasts(5)
  =render :partial => "questions/question", :object => question

%h2 Dernières publications
-for publication in Publication.lasts(5)
  =render :partial => "publications/publication", :object => publication
