%h2 Dernières questions
.items=render :partial => Question.lasts(5), :spacer_template => "shared/spacer"

%h2 Dernières publications
.items=render :partial => Publication.lasts(5), :spacer_template => "shared/spacer"
