=toolbar do
  =tool("Nouveau type de publication", new_publication_nature_url, :icon => :new)

-paginator = will_paginate(@publication_natures)
=paginator
.items
  =render :partial => @publication_natures, :spacer_template => "shared/spacer"
=paginator
