=form_tag({:action=>:update}, options.merge(:method => :put, :class => "form-horizontal")) do
  .fields=render :partial=>partial
  .form-actions
    =submit_tag("labels.update".t, :disable_with=>"labels.please_wait".t, :class => "btn btn-primary")
    =link_to("labels.cancel".t, :back, :class => "btn")
