/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
/*@import url(http://fonts.googleapis.com/css?family=Arapey:400,400italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato|Volkhov|Merriweather|Crimson+Text);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);*/


$experimental-support-for-svg: true;
$base-color: #591;
/*$base-color: #05B; */
$title-color: darken($base-color, 15%);
$text-color: #000;
$link-color: $base-color;
$linkColor: $link-color;

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-responsive";

body > .navbar .brand {
  font-weight: bold;
}

body > #menu.navbar.navbar-fixed-top { 
  margin: 0;
  .navbar-inner { 
    padding: 0 3px;
  }
}


/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  font-family: Arial, sans-serif;
  font-size: 13px;
}
*/

strong { 
  font-weight: bold;
}
/*
header, h1, h2, h3, h4, h5, h6 { 
  margin: 0 0 0.4em;
  &, & * {
//    font-family: "Lato", sans-serif;
//    font-weight: normal;
    color: $title-color;
  }
  & a { 
    display: inline;
  }
  & sup { 
    font-size: 70%;
    vertical-align: super;
    text-decoration: none;
  }
  & strong, & b { 
    font-weight: bold;
  }
  & em { 
    font-style: italic;
  }
}

h1, h1 span, h1 a, h1 * { font-size: 40px }
h2, h2 span, h2 a, h2 * { font-size: 25px }
h3, h3 span, h3 a, h3 * { font-size: 18px }
h4, h4 span, h4 a, h4 * { font-size: 13px }
*/
body { 
  padding: 0;
  margin: 0;
  height: 100%;
  /* @include background(linear-gradient(left, #DE9, #AC7));*/
  @include background(#FFF linear-gradient(top, #DDD, #FFF) repeat-x);
/* background: #FFF image-url("backgrounds/sunset.jpg") left bottom no-repeat fixed;*/
}

@mixin page-block($incrustation: 2%) {
  background: mix($title-color, #FFF, $incrustation);
  @include box-shadow(0 0 7px rgba(0,0,0,0.2));
  @include border-radius(3px);
}

.logo { 
  @include border-radius(3px);
  display: block;
  height: 32px;
  width: 32px;
  float: left;
}

/*
a { 
  &:link, &:visited, &:active, &:focus {
    &, & * { 
      color: $link-color;
      text-decoration: none;
    }
  }
  &:hover { 
    &, & * { 
      color: $link-color;
      text-decoration: underline;
    }
  }
}
*/
h2 { 
  .logo { 
    @include border-radius(6px);
    height: 96px;
    width: 96px;
    float: right;
    margin: 0 0 8px 8px;
  }
}

#page {
  background: rgba(255, 255, 255, 0.5);
  padding: 8px;

  @media only screen and (min-width: 980px) { 
    margin-top: 40px;
  }
/*
  margin-top: 8px;
  margin-bottom: 8px;
  @include border-radius(6px);
  max-width: 900px;
  .page-title { 
  }
*/
}

#banner {
  margin: 0 0 8px;
  padding: 8px;
  @include page-block;
  background: $base-color;
  $start-color: mix($base-color, #FFF, 60%);
  $stop-color: mix($base-color, #FFF, 90%);
  @include background(linear-gradient(top, $start-color, $stop-color));
  #login { 
    float: right;
  }
  #header {
    margin: 0;
    padding: 0 8px;
    .title { 
      font-weight: bold;
      color: white;
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.3));
      margin: 0;
    }
    .slogan { 
      font-size: 16px;
      font-style: italic;
      color: rgba(0,0,0,0.4);  /*mix($title-color, #FFF, 70%);*/
      margin: 0;
      color: white;
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    }
  }
  a { color: white }
}

.site-logo { 
  background-size: 100%;
  height: 350px;
  margin: 8px auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/*#menu { 
  margin: 8px 0;
  padding: 0 3px;
  @include page-block(12%);
  $start-color: mix($base-color, #FFF, 5%);
  $stop-color: mix($base-color, #FFF, 15%);
  @include background(linear-gradient(top, $start-color, $stop-color));
  a { 
    padding: 4px 8px;
    @include inline-block;
    border-left: 1px solid $start-color;
    border-right: 1px solid $stop-color;
    &:first-child { border-left: none; }
    &:last-child { border-right: none; }
    &.current { 
      font-weight: bold;
    }
  }
}*/

#main { 
  .wrapper { 
    @include page-block;
    padding: 8px;
    margin: 0 0 8px 0;
  }
}

.ttl { 
  display: block;
  color: #B50;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #B50;
  margin: 16px 0 8px;
  &:hover { 
    text-decoration: none;
    color: #820;
  }
}


#aside { 
  padding:0;
  .wrapper { 
    @include page-block;
    padding: 8px;
    margin: 0 0 8px 0;
  }
}

#footer { 
  margin: 8px 0 0;
  padding: 4px;
  @include page-block;
  clear: both;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: rgba(0,0,0,0.4)
}

.controls { 
  input.large { 
    font-size: 20px;
    line-height: 24px;
    height: 24px;
    font-weight: bold;
    width: 92%;
  }
  textarea { 
    width: 92%;
    resize: vertical;
  }
}


.content { 
  text-align :justify;
  line-height: 1.3em;
  ul { 
    padding-left: 2em;
    li { 
      margin: 0.5em 0;
      list-style-type: square; 
    }
  }
  ol { 
    li { 
      list-style-type: roman;
    }
  }
}

.items {
  &.results { 
    padding-left: 2em;
  }
  & > .spacer { 
    height: 2px;
    background: mix($title-color, #FFF, 24%);
    margin: 8px 0;
   }
  .item { 
    padding: 4px;
    display: block;
    .title { 
      margin: 0;
      font-size: 20px;
      line-height: 24px;
    }
    .logo { 
      @include border-radius(3px);
      height: 48px;
      width: 48px;
      float: left; 
      margin-right: 8px;  
      background-repeat: none;
      background-position: center center;
    }
    &.partition  .logo { background-image: image-url("tools/partition.png"); }
    &.delays     .logo { background-image: image-url("tools/delays.png"); }
    &.farming    .logo { background-image: image-url("tools/farming.png"); }
    &.templating .logo { background-image: image-url("tools/templating.png"); }
    .description { 
      font-style: italic; 
      color: #777;
    }
    .end { clear:both; }
  }
  &.mini {
    .item { 
      .title { 
        line-height: 20px;
        &, & * { font-size: 16px }
      }
      .description { 
        font-size: 11px;
        line-height: 12px;
      }  
      .logo { 
        height: 32px;
        width: 32px;
      }
    }
    .spacer { 
      margin: 4px 0;
    }
  }
}

.download { 
  clear: both;
  &, & * { 
    font-size: 18px; 
  /*  font-family: "Lato", sans-serif;*/
  }
  text-align: center;
  display: block;
  padding: 8px;
  margin: 8px 0;
  background: mix($base-color, #FFF, 24%);
  @include border-radius(3px);
}

.parameters { 
  @include border-radius(3px);
  background:  mix($base-color, #FFF, 24%);
  padding: 8px;
  margin: 8px 0;
  text-align: center;
}

.pagination { @extend .pagination-centered }

.meta-info { 
  margin-top: 4px;
  line-height: 1.2em;
  &, & * { font-size: 11px; }
  @include opacity(30);
  .item:hover &, &:hover { 
    @include opacity(70);
  }
}
.end { clear: both; }

table.infos { 
  width: 100%;
  border-collapse: collapse;
  clear: none;
  td {
    padding: 4px;
    &.label{
      width: 30%;
      color: #777;
      font-style: italic;
      text-align:right;
    }
  } 
}

.toolbar { 
  background: mix($base-color, #FFF, 12%);
  padding: 0;
  margin: 8px 0;
  @include border-radius(3px);
  a { 
    @include inline-block;
    padding: 4px 8px; 
    &:hover { 
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

table#partitions { 
  margin: 8px auto;
  td {
    padding: 2px;
    &.number {
      font-weight: bold;
      text-align: right;
    }
    &.middle {
      text-align: center;
    }
    &.amount {
      font-weight: bold;
      text-align: left;
    }
  }
}


.input {
  label { 
    margin: 5px 4px 0 0;
    &:first-child { 
      text-align: right;
      width: 160px;
      @include inline-block;
      vertical-align: top;
    }
    abbr { 
      color: red;
    }
  }
}

.actions { 
  margin: 8px 0 0;
  padding: 2px;
  text-align: center;
  > * { 
    margin: 0 8px;
  }
}

.ui-datepicker {
  display:none;
  background: white;
  padding: 2px;
  border: 1px solid $base-color;
  @include page-block;
  .ui-datepicker-prev { float: left; }
  .ui-datepicker-next { float: right; }
  .ui-datepicker-title { 
    padding: 4px;
    text-align: center;
  }
  table { 
    border-collapse: collapse;
    td, th { 
      border: 1px solid mix($title-color, #FFF, 15%);
    }
    th { 
      text-align: center;
    }
    td { 
      a { 
        display: block;
        padding: 2px 4px;
        text-align: center;
      }
    }
  }
}

.question.content { 
  font-size : 110%;
}

.form-actions { 
  .logo { 
    margin: 0;
    float: right;
  }
}

.answer { 
  margin: 16px 0;
  @include border-radius(3px) ;
  padding: 8px;
  @include clearfix;
  .logo { 
    height: 48px;
    width: 48px;
    margin: 0 8px 4px 0;
  }
  .ms { margin-left: 56px; }
}

.pull-right.btn-toolbar { margin: 0 0 4px 8px }

  .content { 
    display: block;
/*    background: white;
    @include border-top-right-radius(8px);
    @include border-bottom-right-radius(8px);
    @include border-bottom-left-radius(8px);
    border : 1px solid $base-color;
    padding:6px 8px;*/
  }

.comments { 
  margin: 8px 0 0;
  padding:  4px 0 0 64px;
/*  border-top: 2px solid mix($title-color, #FFF, 24%);*/
  .spacer { 
    border-top: 2px dotted mix($title-color, #FFF, 24%);
    margin: 4px 0;
  }
  .comment { 
    @include clearfix;
    .ms { margin-left: 40px; }
    .logo { 
      height: 32px;
      width: 32px;
      margin: 0 8px 0 0;
    }
  }
}

.search-bar { 
  padding: 3px;
  border: 1px solid #777;
  table {
    width: 100%;
    td.txt {
      input[type="text"] { 
        padding: 0;
        border: none;
        height: 18px;
        margin: 0;
        width: 100%;
      }
    }
    td.btn {
      height: 18px;
      width: 18px;
      input[type="submit"] { 
        @include squish-text;
        @include inline-block;
        margin: 0;
        border: none;
        height: 18px;
        width: 18px;
        background: mix($base-color, #FFF,60%) image-url("search.png");
      }
    }
  }
}

input[data-datepicker][data-date-format] {
  width: 12ex;
  text-align: center;
}

.delays-delay {
  width: 4ex;
  text-align: center;
}
.delays-dir {
  width: 20ex;
}

.tagger { 
  vertical-align: middle;
  .tag { 
    @include inline-block;
    @include border-radius(100px);
/*    font-family: "Lato", sans-serif;*/
    padding: 3px 8px 4px;
    margin: 2px 6px 2px 0;
    background: mix($base-color, #FFF, 60%);
    &, & a {
      color: white;
      font-size: 13px;
      line-height: 13px;
      font-weight: bold;
      @include text-shadow(0 0 3px $base-color);
    }
    @include box-shadow(0 0 5px white);
  }
  .remove { 
    font-size: 0;
    @include inline-block;
    width: 11px;
    height: 16px;
    margin-right: 5px;
    // @include background(image-url("remove.png") no-repeat);
    i { 
      @extend .icon-trash;
    }
    &:hover { 
      @include opacity(70);
    }
  }
  .input-append {
     margin-bottom: 0;
  }
}



.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0 0 0 -7px;
  display:block;
  float: left;
  background: mix($base-color, #FFF, 5%);
  border: 1px solid mix($base-color, #FFF, 15%);
  @include box-shadow(0 0 7px rgba(0,0,0,0.3));
  .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    a {
      text-decoration:none;
      display:block;
      padding:.2em .4em;
      line-height:1.5;
      zoom:1;
      &#ui-active-menuitem { 
        background: transparentize($base-color, 0.8);
      }
    }
  }
}
