/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
/*@import url(http://fonts.googleapis.com/css?family=Arapey:400,400italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato|Volkhov|Merriweather|Crimson+Text);*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

$experimental-support-for-svg: true;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  font-family: Arial, sans-serif;
  /*font-family: "Georgia", serif;*/
  font-size: 13px;
}

$base-color: #591;
/*$base-color: #05B;*/
$title-color: darken($base-color, 5%);

header, h1, h2, h3, h4, h5, h6 { 
  margin: 0 0 0.4em;
  &, & * {
    font-family: "Lato", sans-serif;
    color: $title-color;
    font-weight: normal;
  }
  & a { 
    display: inline;
  }
  & sup { 
    font-size: 70%;
    vertical-align: super;
    text-decoration: none;
  }
  & strong, & b { 
    font-weight: bold;
  }
  & em { 
    font-style: italic;
  }
  .container > & {
    margin-top: 0.8em;
    &:first-child { 
      margin-top: 0;
    }
  }
}

h1, h1 span, h1 a { font-size: 40px }
h2, h2 span, h2 a { font-size: 25px }
h3, h3 span, h3 a { font-size: 18px }
h4, h4 span, h4 a { font-size: 13px }

body { 
  padding: 0;
  margin: 0;
  height: 100%;
 /* @include background(linear-gradient(left, #DE9, #AC7));*/
  @include background(#FFF linear-gradient(top, #DDD, #FFF) repeat-x);
/*  background: #FFF image-url("backgrounds/sunset.jpg") left bottom no-repeat fixed;*/
}

@mixin page-block($incrustation: 2%) {
  background: mix($title-color, #FFF, $incrustation);
  @include box-shadow(0 0 7px rgba(0,0,0,0.2));
  @include border-radius(3px);
}

a { 
  &:link, &:visited, &:active, &:focus {
    color: mix($base-color, #DDD, 75%);
    &, & * { 
      text-decoration: none;
    }
  }
  &:hover { 
    &, & * { 
      text-decoration: underline;
    }
  }
}

h2 { 
  .logo { 
    @include border-radius(6px);
    height: 96px;
    width: 96px;
    float: right;
    margin: 0 0 8px 8px;
  }
}

#page {
  background: rgba(255, 255, 255, 0.5);
  @include border-radius(6px);
  max-width: 900px;
  padding: 8px;
  margin: 8px auto;
  .page-title { 
  }
}

#banner {
  margin: 0 0 8px;
  padding: 8px;
  @include page-block;
  background: $base-color;
  $start-color: mix($base-color, #FFF, 60%);
  $stop-color: mix($base-color, #FFF, 90%);
  @include background(linear-gradient(top, $start-color, $stop-color));
  #login { 
    float: right;
  }
  #header {
    margin: 0;
    padding: 0 8px;
    .title { 
      font-weight: bold;
      color: white;
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.3));
      margin: 0;
    }
    .slogan { 
      font-size: 16px;
      font-style: italic;
      color: rgba(0,0,0,0.4);  /*mix($title-color, #FFF, 70%);*/
      margin: 0;
      color: white;
      @include text-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    }
  }
  a { color: white }
}

#menu { 
  margin: 8px 0;
  padding: 0 3px;
  @include page-block(12%);
  $start-color: mix($base-color, #FFF, 5%);
  $stop-color: mix($base-color, #FFF, 15%);
  @include background(linear-gradient(top, $start-color, $stop-color));
  a { 
    padding: 4px 8px;
    @include inline-block;
    border-left: 1px solid $start-color;
    border-right: 1px solid $stop-color;
    &:first-child { border-left: none; }
    &:last-child { border-right: none; }
    &.current { 
      font-weight: bold;
    }
  }
}

#main { 
  width: 100%;
  #page.connected & { width: 70%; }
  float:left;
  margin:0 0 8px;
  padding:0;
  .container {
    margin: 0;
    padding: 8px;
    @include page-block;
  }
}

.ttl { 
  display: block;
  color: #B50;
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid #B50;
  margin: 16px 0 8px;
  &:hover { 
    text-decoration: none;
    color: #820;
  }
}


#aside { 
  width: 30%;
  float:left;
  margin:0 0 8px;
  padding:0;
  .container {
    margin: 0 0 0 8px;
    padding: 8px;
    @include page-block;
  }
}

#footer { 
  margin: 8px 0 0;
  padding: 4px;
  @include page-block;
  clear: both;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  color: rgba(0,0,0,0.4)
}


.content { 
  text-align :justify;
  margin: 4px 0;
  line-height: 1.3em;
  ul { 
    padding-left: 2em;
    li { 
      margin: 0.5em 0;
      list-style-type: square; 
    }
  }
  ol { 
    li { 
      list-style-type: roman;
    }
  }
}

.items {
  .spacer { 
    height: 2px;
    background: mix($title-color, #FFF, 24%);
    margin: 8px 0;
   }
  .item { 
    padding: 4px;
    display: block;
    .logo { 
      @include border-radius(3px);
      height: 48px;
      width: 48px;
      float: left; 
      margin-right: 8px;  
      background-repeat: none;
      background-position: center center;
    }
    &.partition  .logo { background-image: image-url("tools/partition.png"); }
    &.farming    .logo { background-image: image-url("tools/farming.png"); }
    &.templating .logo { background-image: image-url("tools/templating.png"); }
    .description { 
      font-style: italic; 
      color: #777;
    }
    .end { clear:both; }
  }
  &.mini {
    .item { 
      .logo { 
        height: 32px;
        width: 32px;
      }
    }
    .spacer { 
      margin: 4px 0;
    }
  }
}
.answer { 
  margin: 8px 0;
}
.download { 
  clear: both;
  &, & * { font-size: 18px; font-family: "Lato", sans-serif;}
  text-align: center;
  display: block;
  padding: 8px;
  margin: 8px 0;
  background: mix($base-color, #FFF, 24%);
  @include border-radius(3px);
}

.parameters { 
  @include border-radius(3px);
  background:  mix($base-color, #FFF, 24%);
  padding: 8px;
  margin: 8px 0;
  text-align: center;
}

.pagination { margin: 8px 0 }

.info span { color: #777; }

table.infos { 
  width: 100%;
  border-collapse: collapse;
  clear: none;
  td {
    padding: 4px;
    &.label{
      width: 30%;
      color: #777;
      font-style: italic;
      text-align:right;
    }
  } 
}

.toolbar { 
  background: mix($base-color, #FFF, 12%);
  padding: 0;
  margin: 8px 0;
  @include border-radius(3px);
  a { 
    @include inline-block;
    padding: 4px 8px; 
    &:hover { 
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

table#partitions { 
  margin: 8px auto;
  td {
    padding: 2px;
    &.number {
      font-weight: bold;
      text-align: right;
    }
    &.middle {
      text-align: center;
    }
    &.amount {
      font-weight: bold;
      text-align: left;
    }
  }
}


.input {
  label { 
    margin: 5px 4px 0 0;
    &:first-child { 
      text-align: right;
      width: 160px;
      @include inline-block;
      vertical-align: top;
    }
    abbr { 
      color: red;
    }
  }
}

.actions { 
  margin: 8px 0 0;
  padding: 2px;
  text-align: center;
  > * { 
    margin: 0 8px;
  }
}

.ui-datepicker {
  display:none;
  background: white;
  padding: 2px;
  border: 1px solid $base-color;
  @include page-block;
  .ui-datepicker-prev { float: left; }
  .ui-datepicker-next { float: right; }
  .ui-datepicker-title { 
    padding: 4px;
    text-align: center;
  }
  table { 
    border-collapse: collapse;
    td, th { 
      border: 1px solid mix($title-color, #FFF, 15%);
    }
    th { 
      text-align: center;
    }
    td { 
      a { 
        display: block;
        padding: 2px 4px;
        text-align: center;
      }
    }
  }
}

.answer { 
 table { width: 100%} 
  & table td.lg { 
    vertical-align: top;
    width: 56px;
    .logo { 
      height: 48px;
      width: 48px;
      margin: 0 8px 8px 0;
    }
  }
}

  .content { 
    display: block;
    background: white;
    @include border-top-right-radius(8px);
    @include border-bottom-right-radius(8px);
    @include border-bottom-left-radius(8px);
    border : 1px solid $base-color;
    padding:6px 8px;
  }

.comments { 
  padding:  4px 0 0 80px;
  border-top: 2px solid mix($title-color, #FFF, 24%);
  .spacer { 
    border-top: 2px dotted mix($title-color, #FFF, 24%);
    margin: 4px 0;
  }
  .comment { 
    .meta {
      opacity: 0.6;
      color: #777;
      &, & * { 
        font-size: 11px;
      }
    }
  }
}

.search-bar { 
  padding: 3px;
  border: 1px solid #777;
  table {
    width: 100%;
    td.txt {
      input[type="text"] { 
        padding: 0;
        border: none;
        height: 18px;
        margin: 0;
        width: 100%;
      }
    }
    td.btn {
      height: 18px;
      width: 18px;
      input[type="submit"] { 
        @include squish-text;
        @include inline-block;
        margin: 0;
        border: none;
        height: 18px;
        width: 18px;
        background: image-url("search.png");
      }
    }
  }
}