!!!
%html
  %head
    %title=Parameter["site.name"]
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  -style = ""
  -if Parameter.has?("site.background")
    -style = "background: #FFF url(#{Parameter['site.background']}) left bottom no-repeat fixed"
  %body{:style => style}
    =menu_tag if current_user
    #page.container{:class=>(current_user ? 'connected' : 'disconnected')}
      #wrap.row-fluid
        #main.span9
          .wrapper
            =page_title
            =notification(:error)
            =notification(:warning)
            =notification(:success)
            =notification(:notice)
            =yield
        -if current_user
          #aside.span3
            .wrapper
              %h3="Contacter un membre"
              .items.mini=render :partial => "users/mini_user", :collection => User.all, :spacer_template => "shared/spacer"

              -#%h3="Mot-clés"
              -#=render :partial => "labels/all"
      .row-fluid
        #footer
          ="Copyright 2012 &ndash; PelTex &ndash; ".html_safe
          =cache do
            =version
